# 4.10 reading CROSSTABS follow-along

# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Import data

In [2]:
# Import data ords_prods_new.pkl.pkl from 4.9

# craring path
path = r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [3]:
path

'/Users/bdigregorio/Desktop/CareerFoundry/Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [4]:
ords_prods_new = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_new.pkl'))

In [5]:
ords_prods_new.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days,Most orders,max_order,loyalty_flag,avg_spent,spender_type,median_order_days,customer_type
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,...,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0,Regular customer,6.367797,Low spender,20.0,Regular customer
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0,Regular customer,6.367797,Low spender,20.0,Regular customer
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,11.0,Regular customer,6.367797,Low spender,20.0,Regular customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,Mid-range product,Least busy,Regularly busy,Fewest orders,11.0,Regular customer,6.367797,Low spender,20.0,Regular customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,Mid-range product,Least busy,Regularly busy,Most orders,11.0,Regular customer,6.367797,Low spender,20.0,Regular customer

# 03. Creating crosstab

In [6]:
# crosstab 'ords_prods_new' and 'oreder_number' to checkk missing values

crosstab = pd.crosstab(ords_prods_new['days_since_prior_order'], ords_prods_new['order_number'], dropna = False)

In [7]:
crosstab.to_clipboard()