# Importing Libraries

In [1]:
# Importlibraries
import pandas as pd
import numpy as np
import os

In [2]:
# import orders_products_prior.csv from Original Data
df_ords_prior = pd.read_csv(r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis' \
r'/02 Data/Original Data/orders_products_prior.csv', index_col = False)

In [3]:
path = r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [4]:
path

'/Users/bdigregorio/Desktop/CareerFoundry/Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
# importing orders_cleaned.csv from Prepared Data
df_ords = pd.read_csv(r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis' \
r'/02 Data/Prepared Data/orders_cleaned.csv', index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [8]:
# checking output for df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# checking output for df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [10]:
# removing unwanted columns Unnamed 0.1, Unnamed 0, eval_set
df_ords.drop(columns = ['eval_set', 'Unnamed: 0.1','Unnamed: 0'], inplace = True)

In [11]:
# renaming order_dow to orders_day_of_the_week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_the_week'}, inplace = True)

In [12]:
# checking output for df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
# checking shape for df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [14]:
# checking shape for df_ords
df_ords.shape

(3421083, 6)

In [15]:
# merging df_ords and df_ords_prior via 'order_id' column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
# merging (OUTER JOIN with how) df_ords and df_ords_prior via 'order_id' column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [19]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [22]:
# checking shape for task step 4
df_merged_large.shape

(32640698, 10)

# 4.6 TASK

In [20]:
# step 1: merge completed above via reading exercise

In [21]:
# step 2: Exporting df_merged_large in pickle format
df_merged_large.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))