# Task 4.6 continued

# 01. Importing Libraries

In [1]:
# Importlibraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# task step 3: importing orders_products_combined pickle

In [3]:
# importing orders_products_combined.pkl from Prepared Data
df_orders_products_combined = pd.read_pickle(r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis' \
r'/02 Data/Prepared Data/orders_products_combined.pkl')

In [4]:
path = r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [5]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# task step 4: checking shape for df_orders_products_combined
df_orders_products_combined.shape

(32640698, 10)

In [7]:
# task step 5: Determine a suitable way to combine the orders_products_combined dataframe 
# with your products data set
# from task 4.5 it was prods_cleaned.csv that was exported

In [8]:
# importing prods_cleaned.csv
df_prods_cleaned = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','prods_cleaned.csv'))

In [9]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [10]:
df_prods_cleaned.head()

,Unnamed: 0.1,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,1,2,All-Seasons Salt,104,13,9.3
2,2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_merged = df_orders_products_combined.merge(df_prods_cleaned, \
    on = 'product_id', how = 'outer', indicator = 'merge_flag')

In [12]:
# consistency checks on df_merged via head, value_counts and shape

In [13]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0.1,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_flag
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,192.0,195.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,192.0,195.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,192.0,195.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,192.0,195.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,192.0,195.0,Soda,77.0,7.0,9.0,both

In [14]:
df_merged['merge_flag'].value_counts()

both          32404859
left_only       236409
right_only          11
Name: merge_flag, dtype: int64

In [15]:
df_merged.shape

(32641279, 17)

In [18]:
df_merged['prices'].describe()

count    3.240487e+07
mean     1.198022e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

# 03 Exporting Data

In [16]:
# task step 7 Export the newly created dataframe as orders_products_merged  in a suitable format (taking into consideration the size).
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))