# 4.8 Grouping and Aggregating TASK

# 01. Inporting Libraries

In [1]:
# Importlibraries
import pandas as pd
import numpy as np
import os

# 02. Import data

# 4.8 Task

In [2]:
#Step 1 importing ords_prods_merge
path = r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [3]:
path

'/Users/bdigregorio/Desktop/CareerFoundry/Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.pkl'))

In [5]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

Step 2: aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457687
2.0              17.277920
3.0              17.179756
4.0              17.811403
5.0              15.213779
6.0              16.439806
7.0              17.225773
8.0              15.340520
9.0              15.895474
10.0             20.197148
11.0             16.170828
12.0             15.887622
13.0             16.583304
14.0             16.757377
15.0             16.165037
16.0             17.663250
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [7]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

task step 3: How do the results for the entire dataframe differ from those of the subset?

In [8]:
# running subset creation (1000000 rows) from read-along
# Creat a subset or df_ords_prods_merge
df = ords_prods_merge[:1000000]

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4.0              19.315612
7.0              17.466053
13.0             17.753001
14.0             19.246334
16.0             19.463012
17.0             11.294069
19.0             21.234049

Step 3 = There are two results I notice when comparing the code run on the entire dataframe and on the subset (1000000 rows) from the reading:

First, the result of running the code on the entire set shows all 21 
department_id's as oppsed to only some of them.

Second, the means are not the same between the two runnings. All of the department_id's listed in the subset means are higher than the entire set's, except department_id 17.

Step 4: creating a loyalty flag for existing customers using the transform() and loc() functions.

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

Step 5: The difference between the spending habits of the three types of customers

In [14]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders,max_order,loyalty_flag
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0,Regular customer
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0,Regular customer
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,11.0,Regular customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders,11.0,Regular customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,11.0,Regular customer

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    16382119
Loyal customer      10679887
New customer         5580444
NaN                       11
Name: loyalty_flag, dtype: int64

In [16]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.379575  1.0  99999.0
New customer      13.208206  1.0  99999.0
Regular customer  12.616590  1.0  99999.0

For the marketing team: "Loyal" customers shop for average prices which are lower than "New" and "Regular" customers. "New" customers are spending the most on average prices.

In [17]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    16382119
Loyal customer      10679887
New customer         5580444
Name: loyalty_flag, dtype: int64

Step 6: The team now wants to target different types of spenders in their marketing campaigns: <10 is "Low spender", >= 10 is "High spender"

In [18]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [19]:
ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [21]:
ords_prods_merge.loc[ords_prods_merge['avg_spent'] < 10, 'spender_type'] = 'Low spender'

In [22]:
ords_prods_merge.loc[ords_prods_merge['prices'] >= 10, 'spender_type'] = 'High spender'

In [23]:
ords_prods_merge['spender_type'].value_counts(dropna = False)

Low spender     21576167
High spender    10672093
NaN               394201
Name: spender_type, dtype: int64

In [24]:
ords_prods_merge[['user_id', 'order_number', 'spender_type']].head(25)

    user_id  order_number spender_type
0       1.0           1.0  Low spender
1       1.0           2.0  Low spender
2       1.0           3.0  Low spender
3       1.0           4.0  Low spender
4       1.0           5.0  Low spender
5       1.0           6.0  Low spender
6       1.0           7.0  Low spender
7       1.0           8.0  Low spender
8       1.0           9.0  Low spender
9       1.0          10.0  Low spender
10     15.0          15.0  Low spender
11     15.0          17.0  Low spender
12     15.0          18.0  Low spender
13     15.0          21.0  Low spender
14     15.0          22.0  Low spender
15     19.0           2.0  Low spender
16     19.0           5.0  Low spender
17     19.0           7.0  Low spender
18     21.0          10.0  Low spender
19     31.0          10.0  Low spender
20     31.0          17.0  Low spender
21     43.0           6.0  Low spender
22     43.0           9.0  Low spender
23     52.0           1.0  Low spender
24     52.0           2.0  Low spender

In [25]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

Step 7: Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [26]:
ords_prods_merge['median_order_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
ords_prods_merge[['user_id','median_order_days']].head()

   user_id  median_order_days
0      1.0               20.0
1      1.0               20.0
2      1.0               20.0
3      1.0               20.0
4      1.0               20.0

In [28]:
ords_prods_merge.loc[ords_prods_merge['median_order_days'] > 20, 'customer_type'] = 'Non-frequent customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['median_order_days'] > 10) & (ords_prods_merge['median_order_days'] <= 20), 'customer_type'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['median_order_days'] <= 10, 'customer_type'] = 'Frequent customer'

In [31]:
ords_prods_merge['median_order_days'].value_counts(dropna = False)

7.0     5708063
6.0     2986803
8.0     2731773
5.0     2496658
4.0     2322013
         ...
26.5       5487
2.5        4657
1.5        3333
0.5         284
NaN          11
Name: median_order_days, Length: 62, dtype: int64

In [32]:
ords_prods_merge['median_order_days'].head(25)

0     20.0
1     20.0
2     20.0
3     20.0
4     20.0
5     20.0
6     20.0
7     20.0
8     20.0
9     20.0
10    10.0
11    10.0
12    10.0
13    10.0
14    10.0
15     6.0
16     6.0
17     6.0
18     8.0
19     6.0
20     6.0
21    10.0
22    10.0
23     8.0
24     8.0
Name: median_order_days, dtype: float64

In [33]:
ords_prods_merge[['user_id', 'order_number', 'median_order_days', 'customer_type']].head(25)

    user_id  order_number  median_order_days      customer_type
0       1.0           1.0               20.0   Regular customer
1       1.0           2.0               20.0   Regular customer
2       1.0           3.0               20.0   Regular customer
3       1.0           4.0               20.0   Regular customer
4       1.0           5.0               20.0   Regular customer
5       1.0           6.0               20.0   Regular customer
6       1.0           7.0               20.0   Regular customer
7       1.0           8.0               20.0   Regular customer
8       1.0           9.0               20.0   Regular customer
9       1.0          10.0               20.0   Regular customer
10     15.0          15.0               10.0  Frequent customer
11     15.0          17.0               10.0  Frequent customer
12     15.0          18.0               10.0  Frequent customer
13     15.0          21.0               10.0  Frequent customer
14     15.0          22.0               10.0  Frequent customer
15     19.0           2.0                6.0  Frequent customer
16     19.0           5.0                6.0  Frequent customer
17     19.0           7.0                6.0  Frequent customer
18     21.0          10.0                8.0  Frequent customer
19     31.0          10.0                6.0  Frequent customer
20     31.0          17.0                6.0  Frequent customer
21     43.0           6.0               10.0  Frequent customer
22     43.0           9.0               10.0  Frequent customer
23     52.0           1.0                8.0  Frequent customer
24     52.0           2.0                8.0  Frequent customer

In [34]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [36]:
ords_prods_merge['customer_type'].value_counts(dropna = False)

Frequent customer        21639806
Regular customer          7288051
Non-frequent customer     3714593
NaN                            11
Name: customer_type, dtype: int64

# 03. Exporting data

In [35]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_new.pkl'))